@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Letters (preface/introduction) */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End letters */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* Inline verse/song */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* End inline verse/song */

#chapter-2 blockquote b{
	font-size: 1.5em;
	font-variant: all-small-caps;
	text-align: center;
	text-indent: 0;
}

#chapter-2 blockquote:nth-child(n+3) p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#chapter-2 p:nth-child(6){
	line-height: 2;
	text-align: center;
	text-indent: 0;
}
